:root {
  --bg-color: #f6f9fc;
  --text-color: #333333;
  --accentColor: #333333;
  --typewriterSpeed: 1s;
  --typewriterCharacters: 5;
  --desktopFontSize: 20px;
  --mobileFontSize: 17px;
  --animationSpeed: 1s;
}




* {
  box-sizing: border-box;
}

html {
 
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  font-size: var(--mobileFontSize);
}


body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/********************************  Utility Classes  *********************************/


.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #333333;
  color: white;
  border-radius: 3px;
  margin-top: 5px;
  font-weight: 700;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
   rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transform: translateY(-3px);
}

.website-container {
  min-height: 100svh;
  background-color: var(--bg-color);
}

.hidden{
  overflow: hidden;
}

.cursor{
  cursor: pointer;
  color: white;
  transition: color 0.3s ease;
  text-decoration: none;
}

.cursor:hover {
  color: #bdbdbd;
  
}




/********************************  Navigation  *********************************/

.navigation {
  background-color: #171717;
  color: white;


  width: 100%;
  position: fixed;
  display: flex;
  bottom: 0;
  transition: transform 0.5s ease;
  z-index: 5;
  /* font-weight: 300; */

}

.nav-item {
  text-align: center;
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 5px;
}





.nav-bar {
  position: absolute;
  left: 0;
  top:0px;
  height: 7px;
  width: 90px;
  background-color: #191919;;
  transition: transform 0.3s ease;
  border-radius: 3px;
}
/* 
.icon {
  transition: color 0.5s ease;
  color:#555555;

  color: white;
} */



/********************************  Homepage  *********************************/

.accent {
  font-weight: 700;
  color: var(--accentColor);
}

.homepage {
    height: calc(100svh - 105px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage h1 {
  font-size: 28px;
}


.flex {
  display: flex;
  font-size: 24px;
  height: 60px;
  width: max-content;
}

.static-text {
  margin: 2px;
  font-size: 24px;
}

.dynamic-text {
  line-height: 90px;
  padding: 0;
  margin-top: 0;
  margin-left: 8px;
  overflow: hidden;
}

.dynamic-text li {
  margin: 0;
  list-style: none;
  position: relative;
  top: -24px ;
  animation: slide 8s steps(4) infinite;
}

.dynamic-text span {
  position: relative;
}

.dynamic-text span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dynamic-text span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dynamic-text span::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
   infinite alternate;
}

.dynamic-text span::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      infinite alternate,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}





/********************************  About  *********************************/


.about-section {
  min-height: calc(100svh - 105px);
}

.about-showcase {
  min-height: calc(100svh - 105px);
  padding: 20px 25px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  place-content: center;
}

.about-header-container {
  position: relative;



}

.about-header-container::before{
  content: "B";
  display: inline;
  font-size: 150px;
  

  
}

.about-pr {
  position: absolute;
  top: 30px;
  left: 85px;
  font-size: 35px;

  
}

.about-ams{
  position: absolute;
  bottom: 8px;
  left: 88px;
  font-size: 35px;
}



.about-ams::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.about-ams::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.about-ams::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
   forwards;
   animation-delay: 1.5s;
}

.about-ams::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      forwards,
    blink 750ms steps(var(--typewriterCharacters)) forwards infinite;
    animation-delay: 1.5s;
}

.about-pr::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.about-pr::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.about-pr::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
   forwards;
}

.about-pr::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      forwards,
    blink 750ms steps(var(--typewriterCharacters)) forwards infinite;
}


.about-text {
 


}

.about-images{
  


}

.about-headers{
  font-weight: 600;
  font-size: 25px;
  margin: 20px 0;
}

.image-grid {

  width: max-content;
  margin: 0 auto;
}

.image-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 150px 150px;
  gap: 20px;




}

.about-img{
  border: 6px solid white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  
}

.skills-grid{
  display: grid;
  grid-template-columns: 1fr;
  gap:30px;
}

.about-skills {
  border-top: 1px solid rgba(178, 178, 178, 0.75);
  border-bottom: 1px solid rgba(178, 178, 178, 0.75);
  overflow: hidden;
  padding: 80px 40px;
  /* -webkit-box-shadow:  0px -2px 3px rgba(178, 178, 178, 0.75);
  -moz-box-shadow:  0px -2px 3px rgba(178, 178, 178, 0.75);
  box-shadow:  0px -2px 3px rgba(178, 178, 178, 0.75); */

  box-shadow:#cdcbcb 3px 3px 6px 0px inset, #cdcbcb -3px -3px 6px 1px inset;
}

.skills-list p {
  font-size: 40px;
  font-weight: 800;
}

 .skills-list ul{
  list-style: none;
  padding: 0;
} 

.skills-list{
  text-align: center;
}





.skills-graph{
 
  /* border: 1px solid black; */


}

.scalable-background{
  margin: auto;
  width: 300px;
  height: 300px;


}

.skills-graphic {
  margin: auto;
  width: 300px;
  height: 300px;
  font-size: 20px;
  font-weight: 600;
  background: #C9CCD3;
  background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
  background-blend-mode: screen;
  border-radius: 50%;
  position: relative;
   overflow: hidden; 
  color: white;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* transform: translateY(150%); */

}

.css-done{
  position: absolute;
  bottom: -30px;
  right: -70px;
  color: #333333;
}

.skills-graphic span{
  transition: transform 1s ease;
}

.skills-graphic:hover .front{
  transform: translateX(-20px);

}

.skills-graphic:hover .back{
  transform: translateX(30px);

}
.skills-graphic:hover .inner-circle-1{
  transform: translateY(-30px);

}
.skills-graphic:hover .inner-circle-2{
  transform: translateX(30px);

}

.skills-graphic:hover::before{
  transform: translateX(-30px);
}
.skills-graphic:hover::after{
  transform: translateY(30px);
}

.skills-graphic:hover{
  overflow: visible;

}

.skills-graphic::before{
  content: "";
  background-color: white;
  position: absolute;
  width: 15px;
  height: 50%;
  top: 0;
  left: 150px;
  transition: transform 1s ease;
}


.skills-graphic::after{
  content: "";
  background-color: white;
  position: absolute;
  width: 50%;
  height: 15px;
  bottom: 100px;
  left: 137px;
  transform: rotate(40deg);
  transition: transform 1s ease;
}

.circle::after{
  content: "";
  background-color: white;
  position: absolute;
  width: 50%;
  height: 8px;
  bottom: 150px;
  left: 150px;
}

.inner-circle-1{
  position: absolute;
  width: 150px;
  height: 143px;
  background-color: #333333;
  right: -15px;
  z-index: 1;
  
}



.inner-circle-2{
  position: absolute;
  width: 150px;
  height: 143px;
  background-color: #333333;
  right: -44px;
  bottom: 92px;
  z-index: 2;
  transform: rotate(40deg);



}

.front{
  position: absolute;
  bottom: 90px;
  left: 40px;
  color: #333333;
  letter-spacing: 1px;
  font-size: 40px;

}

.back {
  position: absolute;
  right: 21px;
  top: 80px;
  z-index: 3;
  letter-spacing: 1px;
  font-size: 40px;
 
}

.hidden-el{

 



}

.appear {
  transition: 1s ease;
  transform: translateY(0);
}

.long-height{
  height: 2000px;
}


@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes slide {
  100%{
    top:-384px;
  }
}

/********************************  Projects  *********************************/

.project-grid {
  padding-top: 30px;
  display: grid;
  gap: 12px;
  width: 100%;
  max-width: 85%;
  margin: 0 auto;
  grid-template-areas: 
  "eth eth alphabet"
  "eth eth traveler"
  "astro cube traveler"
  "cup insta insta"
  "cup insta insta"
  "foam foam dimensional"
  "foam foam dimensional";
}

.project {
  opacity: 0;
  position: relative;
}

.project .overlay {
  opacity: 0;
  background-color: rgba(255,255,255,0.1);
  margin: 0;
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  transition: 0.2s ease;
}

.project .overlay:hover {
  opacity: 1;
  cursor: pointer;
}


.project-grid::after{
  content: "";
  display: block;
  width: 100%;
  height: 150px;

}

.project:nth-child(1){
  animation: show 0.3s ease forwards;
}
.project:nth-child(2){
  animation: show 1s ease forwards;
  animation-delay: 0.7s;
}
.project:nth-child(3){
  animation: show 1s ease forwards;
  animation-delay: 0.5s;
}
.project:nth-child(4){
  animation: show 1s ease forwards;
  animation-delay: 0.2s;
}
.project:nth-child(5){
  animation: show 1s ease forwards;
  animation-delay: 0.1s;
}
.project:nth-child(6){
  animation: show 1s ease forwards;
  animation-delay: 0.6s;
}
.project:nth-child(7){
  animation: show 1s ease forwards;
  animation-delay: 0.4s;
}
.project:nth-child(8){
  animation: show 1s ease forwards;
  animation-delay: 0.7s;
}
.project:nth-child(9){
  animation: show 1s ease forwards;
  animation-delay: 0.8s;
}

#eth{
  grid-area: eth;

}
#alphabet{
  grid-area: alphabet;

}
#traveler{
  grid-area: traveler;

}
#cube{
  grid-area: cube;

}
#astro{
  grid-area: astro;

}
#cup{
  grid-area: cup;

}
#insta{
  grid-area: insta;

}
#foam{
  grid-area: foam;

}
#dimensional{
  grid-area: dimensional;

}

@keyframes show {
  100%{
    opacity: 1;
  }
}

.slide-off {
  transform: translateY(100%);
}




/********************************  Contact  *********************************/

.contact-section {
  height: calc(100svh - 105px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  background-color: #f6f9fc;
  width: 85%;
  border-radius: 10px;
  position: relative;
  gap: 20px;
  z-index: 1;
}


.contact-text {
  transform: translateX(-100%);
  animation: slide-in-from-right var(--animationSpeed) ease forwards;
  opacity: 0;
}


.contact-cards {
  position: relative;
  transform: translateX(100%);
  width: max-content;
  margin-left: auto;
  
  right: -80px;
  animation: slide-in-from-left var(--animationSpeed) ease forwards;
  margin-top: 20px;
 
}

.github-card {
  display: none;
}

.linkedin-card {
  position: relative;
  right: -70px;
}

.card {
  width: 430px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}



@keyframes slide-in-from-left {
  100%{
    transform: translateX(0);
  }
}

@keyframes slide-in-from-right {
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}







/********************************  Responsiveness *********************************/


@media only screen and (min-width: 600px) {

  p {
    font-size: var(--desktopFontSize);
  }

  .flex {
      /* width: 700px; */
      font-size: 22px;
  }

  .homepage h1 {
    font-size: 50px;
  }

  .nav-bar {
      width: 280px;
  }


  .about-showcase{
    grid-template-columns: 1fr 1fr;
  }

  .about-headers {
    font-size: 40px;
  }

  .image-grid{
    grid-template-columns: 250px 250px;
   
  }

  .cta {
      margin-top: 10px;
  }

  .heading{
    font-size: 50px;
  }


  .contact-text {
    width: 50%;
  }

  .contact-cards {
    top: -40px;
    display: flex;
    right: -300px;
  }

  .card {
    margin: 10px;
  }

  .github-card {
    display: block;
    
  }

  .linkedin-card {
    position: static;
    right:0;

  }

  .project .overlay{
    font-size: 30px;
  }



.skills-grid{
 
  grid-template-columns: 1fr 2fr 1fr;
  

}

.skills-list:nth-child(1){
  order: 1;

}
.skills-graph{
  order: 2;
}


.skills-list:nth-child(2){
  order: 3;

}




}