

:root {
  --bg-color: #f6f9fc;
  --text-color: #333333;
  --accentColor: #333333;
  --typewriterSpeed: 1s;
  --typewriterCharacters: 5;
  --desktopFontSize: 20px;
  --mobileFontSize: 18px;
  --animationSpeed: 1s;
}




* {
  box-sizing: border-box;
}

html {
  
 
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  font-size: var(--mobileFontSize);
}


body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  
}

/********************************  Utility Classes  *********************************/


.gray-background {
background-color: #f5f5f5;
border-top: 1px solid rgba(178, 178, 178, 0.75);
border-bottom: 1px solid rgba(178, 178, 178, 0.75);
box-shadow:#cdcbcb 3px 3px 6px 0px inset, #cdcbcb -3px -3px 6px 1px inset;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #333333;
  color: white;
  border-radius: 3px;
  margin-top: 5px;
  font-weight: 700;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
   rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transform: translateY(-3px);
}

.website-container {
  min-height: 100svh;
  background-color: var(--bg-color);
}

.content-container {
  width: 93%;
  max-width: 1100px;
  margin: 0 auto;
}

.hidden{
  overflow: hidden;
}

.cursor{
  cursor: pointer;
  color: white;
  transition: color 0.3s ease;
  text-decoration: none;
}

.cursor:hover {
  color: #bdbdbd;
  
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.section-header {
  text-transform: uppercase;
  position: relative;
  padding: 40px 0;
  width: max-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 700;
  font-size: 12px;
}

.h1{
  margin: 10px 0;
  margin-top: 0;
  font-size: 70px;
}




/********************************  Navigation  *********************************/

.navigation {
  background-color: #171717;
  color: white;
  width: 100%;
  position: fixed;
  display: flex;
  bottom: 0;
  transition: transform 0.5s ease;
  z-index: 10;
}

.nav-item {
  text-align: center;
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 5px;
}


.nav-bar {
  position: absolute;
  left: 0;
  top:0px;
  height: 5px;
  width: 90px;
  background-color: #191919;;
  transition: transform 0.3s ease;
  border-radius: 3px;
}


/********************************  Homepage  *********************************/

.accent {
  font-weight: 700;
  color: var(--accentColor);
}

.homepage {
    height: calc(100svh - 105px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage h1 {
  font-size: 28px;
}


.flex {
  display: flex;
  font-size: 24px;
  height: 60px;
  width: max-content;
}

.static-text {
  margin: 2px;
  font-size: 24px;
}

.dynamic-text {
  line-height: 90px;
  padding: 0;
  margin-top: 0;
  margin-left: 8px;
  overflow: hidden;
}

.dynamic-text li {
  margin: 0;
  list-style: none;
  position: relative;
  top: -24px ;
  animation: slide 8s steps(4) infinite;
}

.dynamic-text span {
  position: relative;
}

.dynamic-text span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dynamic-text span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dynamic-text span::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
   infinite alternate;
}

.dynamic-text span::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      infinite alternate,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}





/********************************  About  *********************************/


.about-section {
  min-height: calc(100svh - 105px);
}

.about-showcase {
  min-height: calc(100svh - 105px);
  padding: 60px 0px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  place-content: center;
}


.about-text span  {
  color:#757575;
  font-size: 24px;
  font-weight: 300;
}


.image-grid {
  width: max-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 150px 150px;
  gap: 20px;
}

.about-img{
  border: 6px solid white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.skills-grid{
  display: grid;
  grid-template-columns: 1fr;
  gap:30px;
}

.about-skills {
  border-top: 1px solid rgba(178, 178, 178, 0.75);
  border-bottom: 1px solid rgba(178, 178, 178, 0.75);
  box-shadow:#cdcbcb 3px 3px 6px 0px inset, #cdcbcb -3px -3px 6px 1px inset;
  background-color: #f5f5f5;
  overflow: hidden;
  padding: 80px 40px;
 
}

.skills-list p {
  font-size: 40px;
  font-weight: 800;
}

 .skills-list ul{
  list-style: none;
  padding: 0;
} 

.skills-list{
  text-align: center;
}


.skills-graphic {
  opacity: 0;
  margin: auto;
  width: 300px;
  height: 300px;
  font-size: 20px;
  font-weight: 600;
  background: #C9CCD3;
  background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
  background-blend-mode: screen;
  border-radius: 50%;
  position: relative;
  overflow: hidden; 
  color: white;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transform: translateY(110%);
  transition: transform 1s ease;
 

}


.skills-graphic::before{
  content: "";
  background-color: #f5f5f5;
  position: absolute;
  width: 15px;
  height: 50%;
  top: 0;
  left: 150px;
  transition: transform 1s ease;
}


.skills-graphic::after{
  content: "";
  background-color: #f5f5f5;
  position: absolute;
  width: 50%;
  height: 15px;
  bottom: 100px;
  left: 137px;
  transform: rotate(40deg);
  transition: transform 1s ease;
}

.circle::after{
  content: "";
  background-color: white;
  position: absolute;
  width: 50%;
  height: 8px;
  bottom: 150px;
  left: 150px;
}

.inner-circle-1{
  position: absolute;
  width: 150px;
  height: 143px;
  background-color: #333333;
  right: -15px;
  z-index: 1;
  
}



.inner-circle-2{
  position: absolute;
  width: 150px;
  height: 143px;
  background-color: #333333;
  right: -44px;
  bottom: 92px;
  z-index: 2;
  transform: rotate(40deg);
}

.front{
  position: absolute;
  bottom: 90px;
  left: 40px;
  color: #333333;
  letter-spacing: 1px;
  font-size: 40px;
}

.back {
  position: absolute;
  right: 21px;
  top: 80px;
  z-index: 3;
  letter-spacing: 1px;
  font-size: 40px;
 
}





.developer-journey{
  padding: 60px 0;
  overflow: hidden;


}

/* .developer-journey:nth-of-type(5){
  
  padding-bottom: 180px;
} */

.about-section :nth-child(5){

  padding-bottom: 180px;
}




.journey-image img {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grad {
  position: relative;
  bottom: -120px;
  transform: translateY(70%);
 
  transition: transform 0.8s ease;
  opacity: 0;
}

.cert {
  position: relative;
  bottom: -75px;
  transform: translateY(70%);
  transition: transform 0.8s ease;
  opacity: 0;
}

.long-height{
  height: 1000px;
}

.appear {
  opacity: 1;
  transform: translateY(0);
}


@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
    /* opacity: 1; */ 
  }
}

@keyframes slide {
  100%{
    top:-384px;
  }
}

/********************************  Projects  *********************************/



.project {
  position: relative;
  overflow: hidden;
}

.project-grid {
  padding: 20px 0;
  display: grid;
  gap: 12px;
  grid-template-areas: 
  "visualizer visualizer"
  "weatherApp weatherApp"
  "littleLemon littleLemon"
  "starbucks steamForm";
}

.project .overlay {
  background-color: rgba(255,255,255,0.1);
  background-color: rgb(255, 255, 255,0.5);
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  transition: transform 0.3s ease;
  transform: translateY(150%);
}

.project-details-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:20;
}


.project-details {
  position: relative;
  padding: 20px 15px;
  padding-top: 20px;
  background-color: white;
  width: 85%;
  max-width: 500px;
  border-radius: 5px;
  /* display: flex;
  flex-direction: column; */

}

.project-details i {
  display: block;
  position: absolute;
  top:-10px;
  right: -10px;
  margin-left: auto;
  cursor: pointer;

  width: max-content;

}

.project-details i:hover{
  color: red;
}

.project-title {
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 2px;
}

.project-tags{
  position: relative;
  display: flex;
  gap: 5px;
  font-size: 12px;

}

.project-tags::after{
  content: "";
  background-color: #333333;
  width: 115px;
  height: 5px;
  display: block;
  position: absolute;
  bottom: -25px;
  left: 5px;
  border-radius: 3px;



}

.project-tags span{
  background-color: rgb(183, 182, 182);
  padding: 5px 15px;
  border-radius: 20px;


}

.project-description {
  font-size: 14px;
  margin-top: 40px;
}

.project-details-overlay .btn {
  margin-right: 10px;
  font-size: 14px;
}

.project:hover .overlay{
  transform: translateY(0);
  cursor: pointer;


}

/* .project .overlay:hover {
  opacity: 1;
  cursor: pointer;
  transform: translateY(0);
} */



#visualizer{
  grid-area: visualizer;

}
#weatherApp{
  grid-area: weatherApp;

}
#littleLemon{
  grid-area: littleLemon;

}
#steamForm{
  grid-area: steamForm;

}
#starbucks{
  grid-area: starbucks;

}




.slide-off {
  transform: translateY(100%);
}





/********************************  Contact  *********************************/

.contact-section {
  height: calc(100svh - 105px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  background-color: #f6f9fc;
  width: 85%;
  position: relative;
  gap: 20px;
 
}


.contact-text {
  transform: translateX(-100%);
  animation: slide-in-from-right var(--animationSpeed) ease forwards;
  opacity: 0;
}

.card {
  width: 430px;
  height: 160px;
  background-color: white;
  border-radius: 10px;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}


.contact-cards {
  position: relative;
  transform: translateX(100%);
  width: max-content;
  margin-left: auto;
  right: -80px;
  animation: slide-in-from-left var(--animationSpeed) ease forwards;
  margin-top: 20px;
  
 
}

.github-card {
  display: none;
}

.linkedin-card {
  position: relative;
  right: -35px;
  overflow: hidden;
}

.card-curve{
  position: absolute;
  top:0;
  left: -95px;
  background-color: #333333;
  border: 40px;
  height: 100%;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  transform: translateX(-100%);
  animation: slide-in-from-left 1s ease forwards;
  animation-delay: 1s;
}

.contact-linkedin{
  position: absolute;
  top: 10px;
  right: -20px;
  color:#333333;
  transform: translateX(-220%);
  animation: slide-in-from-left 1s ease forwards;
  animation-delay: 2s;

}

.contact-email{
  position: absolute;
  top: 63px;
  right: -45px;
  color: #333333;
  transform: translateX(-180%);
  animation: slide-in-from-left 1s ease forwards;
  animation-delay: 2.3s;
}
.contact-github{
  position: absolute;
  top: 120px;
  right: -20px;
  color: #333333;
  transform: translateX(-220%);
  animation: slide-in-from-left 1s ease forwards;
  animation-delay: 2.5s;
}







@keyframes slide-in-from-left {
  100%{
    transform: translateX(0);
  }
}

@keyframes slide-in-from-right {
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}


/********************************  Footer  *********************************/




.footer {
  background-color: #f5f5f5;
  padding: 60px 0;
  box-shadow:#cdcbcb 3px 3px 6px 0px inset;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 9;
 
}


.footer-circle {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #f5f5f5;
  box-shadow:#cdcbcb 0px 3px 6px 0px inset, #cdcbcb 0px -3px 6px 0px inset;
  top: -70px;
  border-radius: 50%;
  z-index: 7;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
  transform: translateY(25px);
  
}

.footer-icon{
  position: relative;
  bottom: 30px;
  color: rgb(117, 117, 117, 0.5);
}

.footer-circle:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.block-circle{
  padding: 58px;
  position: absolute;
  background-color: #f5f5f5;
  width: 150px;
  top: 4px;
  z-index:8 ;
}

.footer-up {
  transform: translateY(0);


}








/********************************  Responsiveness *********************************/


@media only screen and (min-width: 900px) {

  p {
    font-size: var(--desktopFontSize);
  }

  .flex {
      /* width: 700px; */
      font-size: 22px;
  }

  .homepage h1 {
    font-size: 50px;
  }

  .nav-bar {
      width: 280px;
  }


  .about-showcase{
    grid-template-columns: 1fr 1fr;
  }

  .image-grid{
    grid-template-columns: 250px 250px;
   
  }

  .cta {
      margin-top: 10px;
  }

  .heading{
    font-size: 50px;
  }


  .contact-text {
    width: 50%;
  }

  .contact-cards {
    top: -40px;
    display: flex;
    right: -300px;
  }

  .card {
    margin: 10px;
  }

  .github-card {
    display: block;
    
  }

  .linkedin-card {
    position: relative;
    right:0;
    overflow: hidden;

  }

  .project .overlay{
    font-size: 16px;
  }



.skills-grid{
 
  grid-template-columns: 1fr 2fr 1fr;
  

}

.skills-list:nth-child(1){
  order: 1;

}
.skills-graph{
  order: 2;
}


.skills-list:nth-child(2){
  order: 3;

}


.grid {
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.section-header{
  font-size: 18px;
}



.order1{
  order: 2;
}
.order2{
  order: 1;
}

.card {
  height: 200px;
 
}

.image-grid {
  grid-template-columns: 250px 250px;
  grid-template-rows: 250px 250px;
}




.project-title {
  font-size: 35px;


}

.project-tags span{
  font-size: 16px;


}

.project-description {
  font-size: 20px;

}

.overlay .btn {
  font-size: 18px;
}





.contact-email{
  top: 80px;


}

.contact-github {
  top: 155px;
}

.card-curve{
  width: 200px;
  height: 200px;
  
}




}



